{if:$empty}
<div class="info">Post not found :(</div>
{else:$empty}
<article>
	<div class="post">
		<div class="time">{$post.date}</div>
		<div class="category">{$post.category}</div>
		<h2 class="title">{$post.title}</h2>
		<div class="content">
			<p>{$post.text}</p>
		</div>
	</div>
</article>

<h3 id="comments">Comments</h3>

<div class="comment">
	<div class="avatar"></div>
	<div class="author">Brama Udi</div>
	<div class="meta">Januari 01, 2019</div>
	<div class="content">
		Contoh komentar yang tidak mendidik, jangan ditiru ya adik-adik.
	</div>
</div>

<form class="comment-form">
<div class="comment-notes">Tolong jangan berkomentar, percuma gak akan kekirim kok :3</div>
<label for="Nama">Full Name: <span class="required">*</span></label>
<input type="text" placeholder="Nama Lengkap" id="Nama">
<label for="text">Your Comments: <span class="required">*</span></label>
<textarea name="" id="text" cols="30" rows="10"></textarea>
<button>Send</button>
</form>
{/if:$empty}